#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0c062d;
}

.biz-card {
  max-width: 428px;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.6rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.bg-card {
  border-radius: 1rem;
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.qr-section {
  background-color: #0c0956;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.qr-section p {
  color: #fff;
}

.qr-section img {
  padding-top: 30px;
  width: 50%;
}

.about {
  background-color: #721b5c;
  color: #fff;
  padding: 20px;
}
.about img {
  width: 40%;
  margin-top: -60px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
